<div class="container">
  <div class="header">
    My phone book!</div>
  <hr>
</div>

<div class="container">
  <div class="head-container">
    <input id="input" class="form-control" type="text" [(ngModel)]="searchField" name="searchField"
      placeholder="search text goes here">
    <button id="btn-add" class="btn btn-success btn-lg btn-add" type="button" (click)="addAbonent()">add phone</button>
  </div>
  <hr>
</div>
<app-phone-book [arrayOfAbonents]='arrayAbonent' (userEdited)="userEdit($event)" [searchText]="searchField">
</app-phone-book>
